html,
body {
  height: 100%;
  width: 100%;
}
body {
  padding: 0;
  margin: 0;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.grid-container div {
  border: 1px dotted black;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.mainContent {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
